.mjx-math {
  color: #000;
}

#scalar_plot {
  margin: 3em;
  text-align: center;
}

#vector_plot {
  margin: 3em;
  text-align: center;
}

#content {
  margin-top: 3em;
}

#show-derivation {
  margin: 2em 0;
}
